
  .rewards-cards {
    margin-top: 10px; 
    margin-right: 15px; 
    color: black; 
    width: 200px;
    height: 200px;
    box-shadow: 0 0 7px #555;
  }

  .rewards-card-title {
    height: 48px
  }

  .dynamic-reasons {
    margin: 18px;
  }

  .btn-redeem{
    display: none;
  }